@import "tailwindcss";

@theme {
  --color-primary: #EF4444;
  --color-primary-hover: #DC2626;
  --color-secondary: #FACC15;
  --color-secondary-hover: #EAB308;
  --color-accent: #FEF9C3;
  --color-accent-dark: #FDE047;
  
  --font-serif: "Playfair Display", serif;
  --font-sans: "Inter", sans-serif;
}

:root {
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #111827;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: block;
  min-width: 320px;
  min-height: 100vh;
  @apply bg-orange-50 text-gray-900 font-sans;
}
